@import "~bootstrap/scss/bootstrap.scss";


#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #162227;
    border: black 0.1rem solid;
    width: 10rem;
    height: 22rem;
    border-radius: 25px;
}
.light{
    margin: 0.5rem;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    border: black 0.1rem solid;
}
